@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/* header section */


header {
    /* background-color: black; */
    height: 780px;
    /* border: 1px solid red; */
}

.header-section {
    /* border: 1px solid yellow; */
    /* padding: 60px 80px 50px 70px; */
    width: 80%;
    margin: auto;
    padding-top: 30px;

}

.nav-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;

}

.nav-items {
    display: flex;

}

.nav-menu {
    display: flex;
}

.nav-menu li {
    list-style-type: none;

}

.nav-menu li a {
    text-decoration: none;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 200;
}

.active {
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border-radius: 46px;
    padding: 6px 10px 6px 10px;
}

.nav-icon {
    display: none;


}

/* main section - left */

#main-section {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.left-side {
    width: 40%;
    /* border: 1px solid red; */
    /* height: auto; */
}

.left-side h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 84px;
    font-weight: 900;
    line-height: 120%;
}

.left-side p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
}

.left-side-button button {
    margin-top: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: aliceblue;
    font-family: Inter;

}

/* right side */

.right-side {
    /* border: 1px solid yellow; */
    position: relative;
}

.right-side-img {
    /* position: relative; */
}

.upper-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 40%;
    margin-top: -400px;
    margin-left: 250px;
    position: absolute;
    padding: 10px 0px 15px 15px;
}

.upper-box-title {
    font-size: 50px;
    font-weight: 600;
}

.upper-box-des {
    font-size: 12px;
    font-weight: 100;
    font-family: Inter;
}

.lower-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 40%;
    margin-top: -150px;
    margin-left: -100px;
    position: absolute;
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* main section */



.habit-section {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    /* border: 1px solid red; */
    color: rgb(255, 255, 255);
}

.habit-section-title {
    text-align: center;
}

.habit-section-title h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.habit-section-title p {
    font-family: Inter;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-img-section{
    margin-top: 50px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    text-align: center;
}

.habit-img-section img{
    border-radius: 50%;
}

.habit-img-section h5{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.habit-img-section p{
    font-family: Inter;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
}