@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* header section */


header {
    /* background-color: black; */
    height: 780px;
    /* border: 1px solid red; */
}

.header-section {
    /* border: 1px solid yellow; */
    /* padding: 60px 80px 50px 70px; */
    width: 80%;
    margin: auto;
    padding-top: 30px;

}

.nav-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;

}

.nav-items {
    display: flex;

}

.nav-menu {
    display: flex;
}

.nav-menu li {
    list-style-type: none;

}

.nav-menu li a {
    text-decoration: none;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 200;
}

.active {
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border-radius: 46px;
    padding: 6px 10px 6px 10px;
}

.nav-icon {
    display: none;


}

/* main section - left */

#main-section {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.left-side {
    width: 40%;
    /* border: 1px solid red; */
    /* height: auto; */
}

.left-side h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 84px;
    font-weight: 900;
    line-height: 120%;
}

.left-side p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
}

.left-side-button button {
    margin-top: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: aliceblue;
    font-family: Inter;

}

/* right side */

.right-side {
    /* border: 1px solid yellow; */
    position: relative;
}

.right-side-img {
    /* position: relative; */
}

.upper-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 40%;
    margin-top: -400px;
    margin-left: 250px;
    position: absolute;
    padding: 10px 0px 15px 15px;
}

.upper-box-title {
    font-size: 50px;
    font-weight: 600;
}

.upper-box-des {
    font-size: 12px;
    font-weight: 100;
    font-family: Inter;
}

.lower-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 40%;
    margin-top: -150px;
    margin-left: -100px;
    position: absolute;
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* main section */



.habit-section {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    /* border: 1px solid red; */
    color: rgb(255, 255, 255);
}

.habit-section-title {
    text-align: center;
}

.habit-section-title h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.habit-section-title p {
    font-family: Inter;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-img-section {
    margin-top: 50px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 75%;
    margin: auto;
}

.habit-img-section div{
    /* border: 1px solid green; */
    padding: 40px 15px 30px 20px;

    
}

.habit-img-section img {
    border-radius: 50%;
}

.habit-img-section h5 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.habit-img-section p {
    font-family: Inter;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    margin-bottom: 50px;
}

/* mile count section */

.mile-count-section {
    /* border: 1px solid white; */
    color: white;
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: #222222;
    border-radius: 18px;

}

.mile-count-des {
    width: 30%;
    /* border: 1px solid red; */
    height: auto;
    margin-bottom: 50px;
}

.mile-count-des h2 {
    font-family: Inter;
    font-size: 58px;
    font-weight: 900;
}

.mile-count-des p {
    font-family: Inter;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    line-height: 15px;

}

.mile-count-img {
    /* border: 1px solid yellow; */
    width: 30%;
    background-image: url(./images/run.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    margin-right: 60px;
    margin-bottom: 50px;
}

/* BMI section */

.bmi-section {
    /* margin-top:30px; */
    /* border: 1px solid red; */
    width: 35%;
    margin: 30px auto;

}

.bmi-section h1 {
    font-family: Inter;
    font-size: 38px;
    font-weight: 900;
    color: rgb(255, 255, 255);

}

.bmi-section p {
    font-family: Inter;
    font-size: 13px;
    line-height: 18px;
    padding-top: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.calulate-chart {
    background-color: #222222;
}

.calulate-chart-box {
    width: 75%;
    margin: auto;
    /* border: 1px solid red; */
    padding: 30px 15px 20px 30px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.calculate-table-field {
    /* border: 1px solid green; */
    width: 40%;
}

.calulate-chart-box table {
    margin-top: 20px;
    height: auto;
}



.calculate-table td {

    font-size: 14px;
    font-weight: 200;
    /* padding-left: 20px; */

}


.calculate-table tr,
td {
    font-size: 14px;
}

.calculate-table,
th,
td {
    border: solid rgba(255, 255, 255, 0.1);
    font-family: Inter;
    border-collapse: collapse;
    padding: 8px 8px 8px 20px;
}

.calculate-bmi {
    /* border: 1px solid yellow; */
    width: 40%;
}

.calculate-input {
    display: flex;
    flex-direction: column;
}

.calculate-input input {
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    margin-right: 10px;
}

.first-row {
    display: flex;
    flex-direction: row;
}

.secnd-row {
    display: flex;
    flex-direction: row;
}

.calculate-bmi h2 {
    font-family: Inter;
    font-size: 30px;
}

.calculate-bmi p {
    font-size: 13px;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.5);

}

/* membership */

.membership-section {
    width: 75%;
    margin: auto;
    padding-top: 40px;
    /* border: 1px solid red; */
}

.membership-section-title {
    color: white;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
}

.grid-membership {
    color: white;
    /* border: 1px solid yellow; */
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-family: Inter;

}

.grid-membership-item1,
.grid-membership-item2,
.grid-membership-item3 {
    /* border: 1px solid green; */
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    text-align: center;
    line-height: 40px;

}

.grid-membership-item1 h3,
.grid-membership-item2 h3,
.grid-membership-item3 h3 {
    font-size: 30px;
}

.grid-membership-item1 li,
.grid-membership-item2 li,
.grid-membership-item3 li{
    color: rgba(255, 255, 255, 0.5);
}


/* team sec */

.team-section {
    margin-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    /* border: 1px solid red; */
    padding: 20px;
    width: 75%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;

}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
    /* border: 1px solid yellow; */
    border-radius: 18px;
    padding: 20px;
    color: white;
    width: 326px;
    height: 300px;

}

.grid-item1 {
    background-image: url(./images/trainer1.png);
    background-size: cover;
    opacity: 0.7;
}

.grid-item2 {
    background-image: url(./images/trainer2.png);
    background-size: cover;

    opacity: 0.7;
}

.grid-item3 {
    background-image: url(./images/trainer3.png);
    background-size: cover;

    opacity: 0.7;
}

.grid-item4 {
    background-image: url(./images/trainer4.png);
    background-size: cover;
    background-position: center;

    opacity: 0.7;
}

.grid-item5 {
    background-image: url(./images/trainer5.png);
    background-size: cover;

    opacity: 0.7;
}

.grid-item6 {
    background-image: url(./images/trainer6.png);
    background-size: cover;

    opacity: 0.7;
}

.grid-item1 h2,
.grid-item2 h2,
.grid-item3 h2,
.grid-item4 h2,
.grid-item5 h2,
.grid-item6 h2 {
    font-family: Inter;
    /* opacity: 1; */
    padding-top: 240px;
}

/* footer */

.footer-section {
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}

.footer-section-box {
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}